<html lang="en">
<head>
    <title>Document</title>
</head>
<body >
    
             <h1>SHORT URL GENERATOR</h1>
             <h3>Please follow HTTP  protocol</h3>
         
           

           <ul>
            <% alldata.forEach(element => { %>
                <li style="margin-bottom: 10px;">
                    <span style="margin-right: 20px;"><%= element.url %></span>
                    <span><%= element.key %></span>
                </li>
            <% }) %>
        </ul>
              
        <form action="/url" method="post">
            <input type="text" name="url">URL
            <button type="submit" name="submit">
               Generate
            </button>
       
           </form>
</body>
</html>