<html lang="en">
<head>
    <title>Document</title>
</head>


<body>

    <p1>LOGIN PAGE</p1>
    
    <form action="/login" method="post">

     <input type="text" name="uemail">email

     <input type="text" name="upassword">password

     <button type="submit">submit</button>

    </form>
     
</body>

</html>