<html lang="en">
<head>
    <title>Document</title>
</head>


<body>
 
    <form action="/signup" method="post">
     <input type="text" name="uname">name
     <input type="text" name="uemail">email
     <input type="text" name="upassword">password
     <button type="submit" name="submit">
        submit
     </button>

    </form>
     
</body>

</html>